.menu{
    font-family: 'Ubuntu';
    background-color: #61d2b4;
    margin-top: 10px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid slategray;
    width: 100%;
}


.navMenu{    
    list-style: none;
    padding: 0px 5px 5px 10px;
    margin: 0;
}

.navMenu li {
    background-color: transparent;
    border-bottom: 1px solid black;
    transition: box-shadow 0.3s ease;
    
    justify-content: center;
}

.navMenu li:hover {
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navMenu li a {
    padding: 0;
    margin: 0;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

@media(max-width: 1366px) {
    
    .menu{
        align-items: center;
        padding: 0 10px 0 10px;
    }
    .navMenu{
      display: flex!important;
      flex-direction: row!important;
      margin: 0;
      gap: 5vw;
      padding: 0;
      
    }
    .navMenu li{
        width: 10vw;
        justify-content: center;
    }
    .navMenu li a{
        font-size: 2vw;
    }
}