.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #e0ffcd;
}

.containerCol {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2vh;
}
.colIzq{
  width: 250px;
  margin: 0;

}
.colDer{
  width: 75vw;
  margin-right: 5vw;  
}
@media(max-width: 1366px) {
  .containerCol {
      flex-direction: column;
      align-items: center;
      width: 100vw;
  }
  .colIzq{
    display: flex;
    flex-direction: row ;
    width: 75vw;
    margin: 0;
    padding: 0;
  }
  .colDer{
    margin-left: 5vw;
  }

}
@media(max-width: 1199px){
  .main{
    min-height: auto;
  }
}