.divCandidatos {
    width: 100%;
    font-family: 'Ubuntu';
    font-size: 21px;
    font-weight: 500;
    background-color: #61d2b4;
    margin: 0;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid slategray;
    justify-content: center;
    align-items: center;
}
