.navBar {
  background-color: azure;
  z-index: 100;
  border-bottom: 1px solid grey;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  width: 150px;
}

.navBarButton {
  font-family: 'Ubuntu';
  display: flex;
 
  gap: 25px;
  justify-content: center;
  list-style: none;
  flex-grow: 1;
  margin: 0;
  padding-right: 150px;
  padding-left: 0;
}

.navBarButton li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-decoration: none;
  color: #000;
  padding: 5px 20px;

  width: 126px;
  height: 74px;
}

.navBarButton li a:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-decoration: none;
  color: #000;
  padding: 5px 20px;

  font-weight: bolder;
}

.navBarButton li a:active {
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navIcon {
  width: 40px;
}