.navBar {
  gap: 25px;
  justify-content: center;
  list-style: none;
}

.navBar li {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid 2px;
  border-radius: 12px;
}

.navBar li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-decoration: none;
  color: #000;
  padding: 5px 20px;
}

.navBar li a:active {
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navIcon {
  width: 40px;
}