.container {
  background-color: #61d2b4;
  border: 1px solid slategray;
  font-family: 'Ubuntu';
  width: 250px;
}

.checkBoxHover:hover {
  cursor: pointer;
}

.checkBoxContainer {
  display: flex;
  align-items: center;
}

.inputForm {
  width: 100%;
  max-width: 100%;
  padding: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.inputForm:focus {
  border-color: #0D7377;
  outline: none;
}

.inputForm:focus-visible {
  box-shadow: 0 0 5px rgba(13, 115, 119, 0.8);
}