div.cont {
    background-color: #0D7377; /* #0D7377 #2B3499 #363062 #00ADB5 #222831(gris oscuro) #40514E*/
    width: 100%;
    height: 200px;
    display: flex;
    gap: 10%;
    align-items: center;
    font-family: "Ubuntu";
}

.cont h1 {
    color: white;
    font-size: 30px;
}

.enlacesCont {
    color: red;
    height: 80%;
    min-width: 20%;
    margin-left: 5%;
}

.enlaces {
    font-size: 18px;
    padding: 10px 10px 10px 10px;
}


.enlaces li {
    color: white;
}

.cont a {
    display: inline-block;
    color: #61d2b4;
    font-weight: bolder;   
    transition: transform 0.3s ease
}

.cont li a:hover {
    color: white;
    transform: scale(1.2, 1.2)translateY(-3%);
}


.cont a:link {
    text-decoration: none;
}

.cont ul {
    list-style: none;
    padding: 0px 10px;
}

.telUtiles {
    display: block;
    flex-direction: row;
    height: 80%;
    min-width: 30%;
    padding: 10px 10px 10px 10px;

}

.telUtiles dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    padding: 0px 10px;
    font-size: 13px;
    color: #A4AAAB;
}

.telUtiles dd {
    float: left;
    width: 50%;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 14px;
}

.telUtiles dt {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
}

.github {
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: white;
    height: 80%;
    min-width: 20%;
    margin-right: 5%;
    padding: 10px 10px 10px 10px;
}

.github a img {
    transition: transform 0.3s ease
}

.github a img:hover {
    transform: translateY(-3%);
}

.telUtiles ul li a:hover {
    transform: scale(1.2, 1.2)translateY(-3%);
}

.telUtiles ul {
    font-size: 18px;
    text-align: left;
    align-items: left;
    padding: 0px 10px;
}

.telUtiles a {
    display: inline-block;
}