.btnCargar {
  background-color: #0D7377;
  border: solid 1px black;
  padding: 6px 16px;
  font-family: 'Ubuntu';
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: background-color 0.4s ease;
  margin-top: 6px;
}

.btnCargar:hover {
  background-color: #084547;
  border: solid 1px black;
}

.btnCargar:active {
  background-color: #0D7377!important;
  border-color: #0D7377!important;
}

.offCanvasContainer {
  font-family: 'Ubuntu';
  background-color: #e0ffcd;
}

.offCanvasHeader {
  border-bottom: 2px solid slategrey;
  background-color: #61d2b4;
  height: 75px;
}