.cardNoticia {
    margin: 10px;
    padding: 10px;
}

.card {
    background-color: #e0ffcd;
    width: 284px;
    border-radius: 10px;
}

.cardBody {
    padding: 5px;
    margin: 0px;
}

.cardImg {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 180px;
    width: 284px;
}

.cardTitle {
    text-align: center;
    margin-bottom: 3px;
}

.cardText {
    font-size: 19px;
    margin-bottom: 0px;
}