.cardEmployee {
  background-color: #e0ffcd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgCardEmployee {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-top: 10px;
}

.tituloCardEmployee {
  font-size: larger;
}

.cardTextInfo {
  font-size: 18px;
}

u {
  font-size: 20px;
}