.divFiltro {
  padding-bottom: 8px;
}

.container {
  background-color: #61d2b4;
  border: 1px solid slategray;
  font-family: 'Ubuntu';
  width: 250px;
}

.inputBuscar {
  width: 100%;
  max-width: 100%;
  padding: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputBuscar:focus {
  border-color: #0D7377;
  outline: none;
}

.inputBuscar:focus-visible {
  box-shadow: 0 0 5px rgba(13, 115, 119, 0.8);
}

.EdadMinMaxContainer{
  width: 100%;
}

.EdadMinMax::-webkit-inner-spin-button,
.EdadMinMax::-webkit-outer-spin-button {
  -webkit-appearance: none;  
}

.EdadMinMax {
  width: 100%;
  max-width: 100%;
  padding: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.EdadMinMax:focus {
  border-color: #0D7377;
  outline: none;
}

.EdadMinMax:focus-visible {
  box-shadow: 0 0 5px rgba(13, 115, 119, 0.8);
}

.checkboxContainer {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.btnReset {
  background-color: #0D7377;
  border: solid 1px black;
  padding: 6px 16px;
  font-family: 'Ubuntu';
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: background-color 0.4s ease;
}

.btnReset:hover {
  background-color: #084547;
  border: solid 1px black;
}

.btnReset:active {
  background-color: #0D7377!important;
  border-color: #0D7377!important;
}