.info {
    font-family: 'Ubuntu';
    font-size: 21px;
    font-weight: 500;
    background-color: #61d2b4;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid slategray;
    width: 100%;
}

.bienvenida {
    align-content: center;
}