.botonPaginado span {
  background-color: #61d2b4!important;
  border: solid #0D7377 1px!important;
  color: white!important;
  font-size: larger;
  font-weight: bolder;
}

.botonPaginado a {
  background-color: white!important;
  border: solid #0D7377 1px!important;
  color: #61d2b4!important;
  font-size: larger;
  font-weight: bolder;
}

.d-flex {
  margin-bottom: 0;
}