.imageCarousel {
  margin: 1% 0%;
  padding: 1%;
  border: 5px solid;
  border-color:#61d2b4 ;
  overflow: inherit;
  width: 99%;
}

.itemCarousel {
  height: 15rem;
}

.itemCarousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}